<template>
    <div>
        <slot name="header"><Header/></slot>
        <slot name="content"></slot>
        <slot name="footer"></slot>
    </div>
</template>

<script>
	import Header from "./Header";
    export default {
      name: "Body",
      components: {Header},
    }
</script>

<style scoped>

</style>
