<template>
    <Body>
        <template v-slot:content>
            <h1>text text text</h1>
        </template>
    </Body>
</template>

<script>
	import Body from "../layout/Body";
	export default {
		name: "Home",
		components: {Body}
	}
</script>

<style scoped>

</style>
