<template>
    <Body>
        <template v-slot:content>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">{{auth.login_form}}</div>

                        <div class="card-body">
                            <form method="POST" v-on:submit.prevent="$validator.validateAll().then(authLogin)">
                                <div class="form-group row">
                                    <label for="username" class="col-md-4 col-form-label text-md-right">{{auth.email}}</label>
                                    <div class="col-md-6">
                                        <input
                                                type="email"
                                                id="username"
                                                class="form-control"
                                                placeholder="Votre email"
                                                v-validate="'required|email'"
                                                name="email"
                                                v-model="username"
                                                autofocus>
                                        <div class="invalid-feedback">{{ errors.first('username') }}</div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">{{auth.password}}</label>
                                    <div class="col-md-6">
                                        <input id="password" type="password" class="form-control"
                                               v-model="password"
                                               name="password" required autocomplete="current-password">
                                        <div class="invalid-feedback">{{ errors.first('password') }}</div>
                                    </div>
                                </div>

                                <div class="form-group row mb-0">
                                    <div class="col-md-8 offset-md-4">
                                        <button type="submit" class="btn btn-primary">
                                            {{auth.login}}
                                        </button>

                                        <a class="btn btn-link">
                                            {{auth.forgetPassword}}
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </Body>
</template>

<script>
    import {auth} from '../../strings'
	import Body from "../../layout/Body";
    export default {
		components: {Body},
		props: {
        },
		data: function () {
			return {
				username: null,
				password: null,
                auth: auth,
			}
		},
    };
</script>
